<div class="row">
    <div class="col-md-4 col-xs-12 col-sm-12"></div>
    <div class="col-md-4">
        <img src="/assets/images/Haris-1.jpeg" class="img img-thumbnail" alt="SYED MUHAMMAD HARIS">


        <hr />

        <h3>Angular PWA Demo Application</h3>
        <p>Developed by <a href="https://smharis675.wixsite.com/website-1">Syed Muhammad Haris</a></p>
        <p>&copy; 2019-20 All rights reserved by <a href="https://smharis675.wixsite.com/website-1">Harisk Inc.</a></p>

    </div>
    <div class="col-md-4"></div>
</div>